<ion-view title="Add meal to Planner">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Who is cooking?
            </div>
            <select ng-options="m as m.name for m in members" ng-model="assigned"></select>
          </label>
        </div>

        <div>
            <p>Select a day:</p>
        </div>

        <ion-list>
            <div collection-repeat="day in days">
                <ion-item ng-class="{'active': selected === day}" ng-click="selectDay(day)">
                    <p>{{day.date}} {{day.meal.assigned}} {{day.meal.recipeName}}</p>
                </ion-item>
            </div>
        </ion-list>

        <div style="color:red;" ng-show="error == 'member_not_selected'">
            Please select who's cooking
        </div>
        <div style="color:red;" ng-show="error == 'day_not_selected'">
            Please select a day
        </div>

        <a ng-click="addMeal(assigned)" class="button button-stable button-block">Confirm</a>
    </ion-content>
</ion-view>
