<ion-view title="Browse Meals">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="search.value" ng-change="notSupported()">
            </label>
            <div style="color:red;" ng-show="error == 'search_not_supported'">
                Search not yet supported.
            </div>
        </form>
        <div class="button-bar">
            <a ui-sref="mostPopular" class="button button-stable button-block ">Most Popular</a>
            <a ui-sref="recent" class="button button-stable button-block ">Recent</a>
        </div>
        <div class="button-bar">
            <a ui-sref="quickAndEasy" class="button button-stable button-block ">Quick &amp; Easy</a>
            <a ui-sref="cuisines" class="button button-stable button-block ">Cuisines</a>
        </div>
        <div class="button-bar">
            <a ui-sref="diet" class="button button-stable button-block ">Diet</a>
            <a ui-sref="childFriendly" class="button button-stable button-block ">Child friendly</a>
        </div>
        <div class="button-bar">
            <a ui-sref="seasonal" class="button button-stable button-block ">Seasonal</a>
            <a ui-sref="courses" class="button button-stable button-block ">Courses</a>
        </div>
        <div class="button-bar"></div>
        <form class="list"></form>
    </ion-content>
</ion-view>
