<ion-view title="Meal Planner">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button ng-click="prevPage()"class="button button-stable button-block button-small icon-left ion-android-arrow-back">Prev week</button>
            <button ng-click="thisWeek()" class="button button-stable button-block button-small">This week</button>
            <button ng-click="nextPage()" class="button button-stable button-block button-small icon-right ion-android-arrow-forward">Next week</button>
        </div>
        <ion-list>
            <div collection-repeat="day in days">
                <ion-item>
                    <p>{{day.date}} {{day.meal.assigned}} {{day.meal.recipeName}}</p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
