<ion-view title="Meal Planner">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block button-small icon-left ion-android-arrow-back">Prev week</button>
            <button class="button button-stable button-block button-small">This week</button>
            <button class="button button-stable button-block button-small icon-right ion-android-arrow-forward">Next week</button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Mon 1st</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Tue 2nd</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Wed 3rd</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Thu 4th</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Fri 5th</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Sat 6th</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Sun 7th</h2>
                <p>Meal name/ pic. Chef nam/ pic, Click to add a meal.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>