<ion-view title="Most Popular">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="tabsController.browseMeals" class="button button-stable button-block ">Back to Browse</a>
        </div>
        <div collection-repeat="meal in recipes">
            <ion-list>
                <ion-item>
                    <div style="text-align:center;">
                        <a style="display:inline-block;" ui-sref="mealDetail({mealId:meal._id})">
                            <img src="{{meal.imageURL}}" width="100%" height="250px">
                        </a>
                    </div>
                    {{meal.name}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>