<ion-view title="Shopping List">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-checkbox>Minced Meat (500g)</ion-checkbox>
            <ion-checkbox>Spaghetti (1kg)</ion-checkbox>
            <ion-checkbox>1 onion</ion-checkbox>
            <ion-checkbox>Mushrooms (300g)</ion-checkbox>
            <ion-checkbox>Chopped Tomatoes (500g)</ion-checkbox>
            <button class="button  button-block ">Remove from list</button>
            <button class="button button-stable button-block ">Share shopping list via email</button>
        </form>
    </ion-content>
</ion-view>