<ion-view title="Spaghetti Bolognese">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/pmeuQDivSjK3HoYCIvJ5_bolognese.jpg" width="100%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input" name="Meal Title">
                <span class="input-label">Spaghetti Bolognese</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a ui-sref="addMealToPlanner" class="button button-stable button-block ">Add to Planner</a>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Servings</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </label>
        </form>
        <div>
            <p>Prep time: 20 min. Total time: 30 min</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block button-small">Ingredients</button>
            <button class="button button-stable button-block button-small">Directions</button>
        </div>
        <div>
            <p>Pasta, Minced Meat, Chopped Tomatoes, Onions, Salt, Pepper,</p>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>